span {
  color: rgb(255, 255, 255);
  padding-left: 5px;
  font-weight: 700;
}

.navbar{
  padding: 5px;
}

.loading {
  font-size: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  font-weight: 600;
  transform: translate(-50%, -50%);
}

.title{
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text{
  font-size: 14px;
  display: flex;
  text-align: center;
  justify-content: center ;
  font-weight: 400;
}

.price {
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  color: white;
  background-color: rgb(98, 0, 255);
  border-radius: 5px;
  max-width: 50%;
  margin: 20px auto;
}


.button-buy {
  width: 100%;
}

.button-empty{
  margin-bottom: 10px;
  width: 10%;
  border-radius: 20px;
}

.btn-close{
  cursor: pointer;
}

.list{
  list-style: none;
}

.titulo{
  font-weight: 600;
}

li{
  font-weight: 600;
}

.cant {
  cursor: pointer;
  font-size: 25px;
}

.title_prod{
  display: flex;
  text-align: center;
  justify-content: center;
}

.stock{
  margin-bottom: 20px;
}

.price_two{
  margin-bottom: 20px;
}

.description{
  font-weight: 500;
  font-size: 16px;
}